<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"></script>
  <script>
    const socket = io();

    socket.on("sendC", (data) => {
      document.body.style.background = data.color;
      socket.emit("ACKC",{msg :"Color Chenged"});
    });
  </script>
</body>

</html>